@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    height: 100vh;
}
.sidebar{
    width: 350px;
    background: #000000;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px 10px 0 10px;
}
.sidebar-nav{
    background: rgb(15, 15, 15);
    border-radius: 7px;
    padding: 10px 5px;
    margin-bottom: 10px;
}
.sidebar-nav .logo{
    width: 120px;
}
.sidebar-nav .logo img{
    width: 100%;
}
.sidebar-nav ul{
    list-style: none;
}
.sidebar-nav ul li{
    padding: 10px 20px;
}
.sidebar-nav ul li a{
    text-decoration: none;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 600;
}
.sidebar-nav ul li a i{
    margin-right: 10px;
    font-size: 20px;
}
.Libaray i {
    padding: 5px;
    float: right;
    text-align: center;
}
.Libaray i:hover {
    border-radius: 50%;
    background: rgb(31, 30, 30);
}
.create-playlist{
    background: #4b4a4a2a;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.sidebar-scroll{
    height: 100px;
    padding: 5px;
    overflow-y: auto;
    margin-top: 10px;
}
.sidebar-scroll::-webkit-scrollbar{
    background: transparent;
    width: 10px;
}
.sidebar-scroll::-webkit-scrollbar-thumb{
    background: transparent;
    width: 10px;
}
.sidebar-scroll:hover::-webkit-scrollbar-thumb{
    background: #616060;
    width: 5px;
}
.create-playlist h4 {
    color: #fff;
    font-size: 16px;
    margin: 12px 0;
}
.create-playlist p {
    color: #fff;
    font-size: 14px;
    margin: 12px 0;
    line-height: 20px;
    padding: 0 80px 0 0;
}
.create-playlist button{
    padding: 7px 15px;
    color: #020202;
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-weight: 800;
    margin-bottom: 10px;
    cursor: pointer;
}
.create-playlist button:hover{
    scale: 1.06;
}
.privacy ul{
    list-style: none;
    margin-top: 25px;
}
.privacy ul li a{
    text-decoration: none;
    color: #535252;
    font-size: 11px;
    font-weight: 600;
    margin:0 6px;
}
.privacy ul li {
    padding: 0 11px;
    padding-bottom: 8px;
}
.privacy ul li a:hover{
   text-decoration: underline;
   color: #b3b3b3;
}

.language-btn-container {
    margin: 40px 20px;
}
.language-btn-container label{
    border: 1px solid #777676;
    border-radius: 100px;
    padding: 6px 10px;
    width: fit-content;
    cursor: pointer;
}
.language-btn-container:hover{
    scale: 1.02;
    color:#f8f8f8;
}
.language-btn-container span{
    color: #f8f8f8;
    font-size: 13px;
    font-weight: 800;
    text-align: center;
}
.lag-icon i{
    font-size: 17px;
    margin-right: 5px;
}

/* <------------------------main-section------------------> */

.main{
    margin-left: 340px;
    background: #000;
    padding: 10px;
}
.top-nav{
    background: rgb(15,15,15);
    padding: 10px 20px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius:7px;
    border-top-left-radius: 7px;
}
.pre-btn button{
    background: transparent;
    border: 0;
    color:#8f8f8f;
    font-size: 14px;
    margin-right: 10px;
}
.pre-btn .l-btn{
   background: #000;
   color: #ffffffd2;
   border-radius: 50%;
   padding: 6px 10px;
}
.pre-btn .r-btn{
    background: #03030367;
    border-radius: 50%;
    padding: 6px 10px;
}
.sign-btn{
    background: transparent;
    border: none;
    color: #a09f9f;
    font-size: 15px;
    font-weight: 700;
    margin-right: 20px;
    cursor: pointer;
}
.log-btn{
    cursor: pointer;
    background: white;
    border: none;
    border-radius: 100px;
    padding:15px 25px;
    color: #000000;
    font-size: 15px;
    font-weight: 700;
}
.sign-btn:hover{
    color: white;
    scale: 1.05;
}
.log-btn:hover{
    scale: 1.05;
    background: rgb(235, 235, 235);
}

/* ---------------main-section------------------ */

.main-sec{
    background: #7a78782a;
    overflow-y: auto;
    height: 475px;
    overflow-x: hidden;
    padding: 5px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.popular-artists,.popular-albums{
    height: 300px;
}
.card-sec{
    display: flex;
    flex-direction: row;
    padding:0 7px;
}
.card-sec-title{
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin: 40px 20px 15px 10px;
}
.card-sec-title:hover{
    text-decoration: underline;
}
.card-sec-title span{
    font-size: 14px;
    font-weight: 700;
    color: #b6b4b4;
    float: right;
  }
  .card-sec-title span:hover{
    text-decoration: underline;
  }
.card{
    width: 166px;
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px;
    position: relative;
}
.play-btn i {
    font-size: 20px;
    margin: 12px 15px;
    text-align: center;
}
.play-btn{
    cursor: pointer;
    background: rgba(50, 241, 50, 0.829);
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: 40%;
    opacity: 0;
    transition: all 0.3s ;
    z-index: 4;
}
.card:hover .play-btn {
    opacity: 1;
    bottom: 45%;
}
.play-btn:hover{
        transform: scale(1.05);
        background-color: rgba(118, 236, 118, 0.829);
}
.card .card-squre{
    width: 140px;
    height: 140px;
    border-radius: 7px;
    margin-bottom: 10px;
}
.card img{
    width: 142px;
    height: 142px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.card-det{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.card-det h1{
    font-size: 17px;
    color: #e9e7e7;
    font-weight: 500;
    margin-bottom: 5px;
}
.card-det p{
    font-size: 14px;
    color: #e9e7e7a1;
    font-weight:400;
}
.card:hover{
    background: rgb(32, 31, 31);
    border-radius: 6px;
}
.main-sec::-webkit-scrollbar{
    background: transparent;
    width: 10px;
}
.main-sec::-webkit-scrollbar-thumb{
    background: transparent;
    width: 10px;
}
.main-sec:hover::-webkit-scrollbar-thumb{
    background: #616060;
    width: 5px;
}
.main-sec-privacy{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 0.5px solid rgb(65, 64, 64);
    padding-bottom: 30px;
    margin: 60px 30px 0px 30px;
}
table{
    width: 80%;
    text-align: left;
    border-spacing: 15px;
}
th{
    color:#d6d3d3;
}
td{
    color: #e9e7e7a1;
    font-weight: 400 ;
    cursor: pointer;
}
td:hover{
    text-decoration: underline;
    color: #eeeded;
}
.privacy-icons{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
}
.privacy-icons button{
    background: transparent;
    border: none;
    background: #313030;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}
.privacy-icons button:hover{
   background: #838282;
}
.privacy-icons button i {
    font-size: 20px;
    color: #e2e1e1;
}
.Spotify-AB{
    color: #e9e7e7a1;
    font-size: 14px;
    margin: 40px 40px 80px 40px;
}
/* -----------------footer------------------ */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    background: linear-gradient(to right, rgb(160, 10, 152), rgb(23, 187, 209));
    height: 63px;
    margin: 0 10px;
    position: fixed;
    right: 0;
    left: 0;
}
.footer-det{
    display: flex;
    flex-direction: column;
}
.footer-det h4{
    font-size: 14px;
}
.footer-det p{
    font-size: 16px;
    font-weight: 500;
}
.footer button{
    background: white;
    border: none;
    border-radius: 100px;
    padding:15px 25px;
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    margin-right: 15px;
    cursor: pointer;
}
.footer button:hover{
    scale: 1.05;
    background: rgb(235, 235, 235);
}

/* ---------------popup-panel------------------ */

.popup-panel{
    position: fixed;
    z-index: 5; 
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.card .popup-panel .popup-img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
.popup-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom , rgb(77, 34, 34) ,rgb(56, 52, 52));
    padding: 60px;
    display: flex;
    border-radius: 7px;
}
.popup-det{
    width: 300px;
    height: 300px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.popup-det p {
    color: #f3f3f3;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
}
.popup-sign{
    background: rgb(65, 204, 72);
    border: none;
    border-radius: 100px;
    padding:15px 25px;
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 30px;
}
.popup-down{
    background: transparent;
    border: 1px solid gray;
    border-radius: 100px;
    padding:13px 30px;
    color: #ffffff;
    font-size: 15.5px;
    font-weight: 700;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 20px;
}
.popup-sign:hover{
    scale: 1.05;
    background: rgb(118, 223, 123);
}
.popup-down:hover{
    scale: 1.05;
    border-color: rgb(255, 255, 255);
}
.popup-container .popup-acc{
    font-size: 14px;
    font-weight: 500;
    color: #b8b3b3;
    cursor: pointer;
    text-align: center;
    margin-top: auto;
    margin-bottom: 15px;
}
.popup-container .popup-acc span{
    margin-left: 5px;
    color: #fff;
}
.popup-container .popup-acc span:hover{
    text-decoration: underline;
}
.close-btn {
    color: #b3aeae;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    bottom: 10%;
    left: 50%;
    cursor: pointer;
}
.close-btn:hover{
    color: #fff;
    scale: 1.05;
}
/* ---------------function for popup-------------------- */

#music-popup:checked~.popup-panel{
    opacity: 1;
    bottom: 0;
    pointer-events:all;
}
.popup-panel{
    pointer-events: none;
    opacity: 0;
    bottom: -180%;
    transition: all 0.3s;
}

#close-panel:checked~.popup-panel{
    display: none;
}
